html, body{
    height:100%;
    width:100%;
    font-family: 'Pacifico', 'cursive';
    box-sizing: border-box;
    color:white;
    background-color: #D3C2CE;
}
body{
    
    margin:auto;
}
.d-flex {
    display:flex;
}
.title{
    margin: 0;
}
.game-info{
    margin-bottom: .5rem;
    margin-top: 0;
}
header{
    text-align: center;
    color:white;
}
.player-number{
    color: rgb(233, 255, 202);
    border-radius: 2px;
    letter-spacing: 2px;
    font-weight: bold;
}
.player-score{
    font-size: 2.5rem;
}
.container{
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom:1%;
}
.board-container{
    background-color: white;
    width: 26rem; 
    /* widths and heights of the board grid rows and cols */
    border-radius: 6px;
    margin: auto;
    height: 26rem;
    border:1rem white solid;
}
.board-grid{  
    display: grid;
    grid-template-rows: repeat(3, 8rem);
    grid-template-columns: repeat(3, 8rem);
    grid-gap: 1rem;
    border-radius: 6px;
}
.grid-square{
    background-color: rgb(221, 241, 193);
    border-radius: 4px;
    position: relative;
}
.grid-square1-clicked{
    background-color: rgb(204, 240, 150);
    border-radius: 4px;
    position: relative;
}
.grid-square2-clicked{
    border-radius: 4px;
    position: relative;
    background-color: #D3C2CE;
}
.grid-square:hover{
    background-color: rgb(204, 240, 150);
    cursor: pointer;
}
.grid-square2:hover{
    background-color: #D3C2CE;
    cursor: pointer;
}
.no-click:hover{
    cursor:default;

}
button{
    padding:.5rem 2rem;
    border:none;
    background-color: white;
    font-size: 1rem;
    letter-spacing: 1px;
    color:#c0b1bc;
    font-weight: bold;
    border-radius: 4px;
}
button:hover{
    background-color: rgb(221, 241, 193);
    cursor:pointer;

}
.center{
    justify-content: center;
    align-content: center;
}
.fas{
    font-weight: 900;
    position: absolute;
    
}
.fa-circle{
    top: 1.5rem;
    left: 1.5rem;
    font-size: 5rem;
    /* centering the circle in the grid square */
}
.fa-times{
    font-size: 6.5rem;
    bottom: .5rem;
    left: 1.7rem;
    /* centering the x in the grid square */

}